--- 
# the page title 
title: Aubaine Studio - Transformation digitale & Commnucation
# the page description 
description:  > # this means to ignore newlines until the next tag
  "Les meilleures technologies modernes au service de votre commerce. 
  Boostez votre visibilité grâce à votre propre application mobile, site web mais également un accomagnement professionnel pour votre communication." 

# the page title to be shared on social media 
social_title: Aubaine Studio - Transformation digitale & Commnucation

# the page description to be shared on social media 
social_description: > # this means to ignore newlines until the next tag
  "Les meilleures technologies modernes au service de votre commerce. 
  Boostez votre visibilité grâce à votre propre application mobile, site web mais également un accomagnement 
  professionnel pour votre communication."

sitemap: 
  priority: 1.0 
  lastmod: 2017-02-22T00:00:00-00:00 
---

<!-- The header -->
{% include header.html %}

<!-- home page start -->
{% include home_screen/home.html %}

<!-- page wrapper start -->
<div class="page-wrapper">

    <!-- About section -->
    {% include home_screen/about.html %}


    <!-- Facts section -->

    <!-- Services section -->
    {% include home_screen/services.html %}

    <!-- Works section -->

    <!-- Testimonials section -->

    <!-- Contact us section -->
    {% include home_screen/contact.html %}


</div>
<!-- page wrapper end -->
<!-- photoSwipe background start -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button> 
                <button 
                    class="pswp__button pswp__button--share"
                    title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>                
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> 
                <button 
                    class="pswp__button pswp__button--arrow--right"
                    title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<!-- photoSwipe background end -->
<!-- Example : http://www.11-76.com/themes/youth/index-KENBURNS-SLIDESHOW.html -->


<!-- Modal -->
<!--<div id="contactEstimationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">-->

    <!-- Modal content-->
    <!--<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>-->