<!-- preloader start -->
<div id="preloader">
    <div id="preloader-status">
        <div class="preloader-position loader">
            <span></span>
        </div>
    </div>
</div>
<!-- preloader end -->
<!-- logo start -->
<a class="logo logo-light scrollToTop">
    <div class="logo-img"></div>
</a>
<!-- logo end -->
<!-- navigation button start -->
<button class="navigation-toggle" data-navigation-toggle="toggle"><span class="navigation-toggle-icon"><span class="navigation-toggle-bars navigation-toggle-bars-light"></span> <span class=
        "navigation-toggle-bars navigation-toggle-bars-light"></span> <span class="navigation-toggle-bars navigation-toggle-bars-light"></span></span></button>
<!-- navigation button end -->
<!-- navigation overlay start -->
<div class="navigation-overlay"></div>
<!-- navigation overlay end -->
<!-- navigation start -->
<nav class="navigation">
    <!-- center container start -->
    <div class="center-container">
        <!-- center block start -->
        <div class="center-block">
            <!-- navigation menu start -->
            <ul class="menu main-menu">
                <li class="menu-item">
                    <a class="menu-link" data-scroll-section="home" href="#">Home</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" data-scroll-section="about" href="#">About</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" data-scroll-section="services" href="#">services</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" data-scroll-section="works" href="#">Works</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" data-scroll-section="contact" href="#">Contact</a>
                </li>
            </ul>
            <!-- navigation menu end -->
            <!-- navigation social icons start -->
            <div class="navigation-social-icons">
                <ul class="social-icons">
                    <li>
                        <a class="fa fa-twitter" href="https://twitter.com/AubaineToulouse" target="_blank"></a>
                    </li>
                    <li class="social-icon">
                        <a class="fa fa-facebook" href="https://www.facebook.com/aubainetoulousaine/" target="_blank"></a>
                    </li>
                    <li class="social-icon">
                        <a class="fa fa-instagram" href="https://www.instagram.com/aubaine_toulouse/" target="_blank"></a>
                    </li>

                </ul>
            </div>
            <!-- navigation social icons end -->
        </div>
        <!-- center block end -->
    </div>
    <!-- center container end -->
</nav>
<!-- navigation end -->