<!-- about page start -->
<div class="section section-about" id="about">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                About
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br>                Curabitur sed dictum tellus. Praesent ullamcorper fermentum egestas.
            </div>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <!-- col left start -->
            <div class="col-md-4">
                <div class="quotations">
                    <span class="quote-mark-l fa fa-quote-left"></span>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Curabitur sed dictum tellus. Praesent ullamcorper fermentum egestas.
                    <span class="quote-mark-r fa fa-quote-right"></span>
                </div>
            </div>
            <!-- col left end -->
            <!-- divider start -->
            <div class="divider-post"></div>
            <!-- divider end -->
            <!-- col right start -->
            <div class="col-md-8">
                <h3 class="section-all-subtitle-second">
                    Lorem ipsum dolor sit amet
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dictum tellus. Praesent ullamcorper fermentum egestas.
                    Sed magna tortor, consectetur ac purus feugiat, porta aliquam turpis.
                </p>
                <p>
                    Aliquam nec ipsum feugiat nibh cursus gravida. Nullam mattis condimentum dapibus. Suspendisse congue tincidunt felis, et
                    porttitor ligula <a class="section-links" data-scroll-to="works" href="#">aliquet sit amet</a>.
                </p>
            </div>
            <!-- col right end -->
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row alt">
            <!-- col left start -->
            <div class="col-md-6">
                <!-- skills bar start -->
                <h3>
                    Know-how
                </h3>
                <div class="show-skillbar">
                    <!-- skill 1 start -->
                    <div class="skillbar" data-percent="95">
                        <span class="skillbar-title">HTML5</span>
                        <div class="skillbar-bar"></div><span class="skill-bar-percent"></span>
                    </div>
                    <!-- skill 1 end -->
                    <!-- skill 2 start -->
                    <div class="skillbar" data-percent="90">
                        <span class="skillbar-title">CSS3</span>
                        <div class="skillbar-bar"></div><span class="skill-bar-percent"></span>
                    </div>
                    <!-- skill 2 end -->
                </div>
                <!-- skills bar end -->
            </div>
            <!-- col left end -->
            <!-- divider start -->
            <div class="divider-post"></div>
            <!-- divider end -->
            <!-- col right start -->
            <div class="col-md-6">
                <!-- skills bar start -->
                <!-- divider start -->
                <div class="divider-skillbar"></div>
                <!-- divider end -->
                <div class="show-skillbar">
                    <!-- skill 3 start -->
                    <div class="skillbar" data-percent="85">
                        <span class="skillbar-title">jQuery</span>
                        <div class="skillbar-bar"></div><span class="skill-bar-percent"></span>
                    </div>
                    <!-- skill 3 end -->
                    <!-- skill 4 start -->
                    <div class="skillbar" data-percent="76">
                        <span class="skillbar-title">PHP</span>
                        <div class="skillbar-bar"></div><span class="skill-bar-percent"></span>
                    </div>
                    <!-- skill 4 end -->
                </div>
                <!-- skills bar end -->
            </div>
            <!-- col right end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
    <!-- about page images start -->
    <div class="about-section-images-carousel owl-carousel">
        <div class="about-section-img light-logo">
            <img alt="About" src="assets/img/about/1-woman.jpg">
        </div>
        <div class="about-section-img">
            <img alt="About" src="assets/img/about/2-woman.jpg">
        </div>
        <div class="about-section-img">
            <img alt="About" src="assets/img/about/3-woman.jpg">
        </div>
    </div>
    <!-- about page images end -->
</div>
<!-- about page end -->