<!-- about page start -->
<div class="section section-about" id="about">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                À propos
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Aubaine est une jeune start-up qui référence les offres éphémères des commerçants toulousains mais aussi les évènements de la ville, sur application mobile et site web ! </span>
                <br>Soucieuse de la bonne visibilité de ses partenaires et du commerce local, Aubaine développe Aubaine Studio
                : une agence de communication dédiée à ses partenaires !
                <span style="color:red;"></span>

            </div>
        </div>
        <!-- row end -->

        <!-- team begin -->
        {% include home_screen/team.html %}
        <!-- team end -->

    </div>
    <!-- container end -->
</div>
<!-- about page end -->