<!-- about page start -->
<div class="section section-about" id="about">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                À propos
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Aubaine est une jeune start-up qui référence les offres éphémères des commerçants toulousains mais aussi les évènements de la ville, sur application mobile et site web ! </span>
                <br>Soucieuse de la bonne visibilité de ses partenaires et du commerce local, Aubaine développe Aubaine Studio : une agence de communication dédiée à ses partenaires !
                <span style="color:red;">

</span>
               
            </div>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <!-- col right start -->
            <div class="col-md-8">
                <h3 class="section-all-subtitle-second">
                    L'équipe
                </h3>
                <p>
                    ajouter les membres et photos si possible
                </p>
                
            </div>
            <!-- col right end -->
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row alt">
            <!-- col left start -->
            <div class="col-md-6">
                <!-- skills bar start -->
                <h3>
                    Nos compétences
                </h3>
                <div class="show-skillbar">
                    <!-- skill 1 start -->
                    <div class="skillbar" data-percent="95">
                        <span class="skillbar-title">Photoshop</span>
                        <div class="skillbar-bar"></div><span class="skill-bar-percent"></span>
                    </div>
                    <!-- skill 1 end -->
                    <!-- skill 2 start -->
                    <div class="skillbar" data-percent="90">
                        <span class="skillbar-title">Réseaux Sociaux</span>
                        <div class="skillbar-bar"></div><span class="skill-bar-percent"></span>
                    </div>
                    <!-- skill 2 end -->
                </div>
                <!-- skills bar end -->
            </div>
            <!-- col left end -->
            <!-- divider start -->
            <div class="divider-post"></div>
            <!-- divider end -->
            <!-- col right start -->
            <div class="col-md-6">
                <!-- skills bar start -->
                <!-- divider start -->
                <div class="divider-skillbar"></div>
                <!-- divider end -->
                <div class="show-skillbar">
                    <!-- skill 3 start -->
                    <div class="skillbar" data-percent="85">
                        <span class="skillbar-title">Créativité</span>
                        <div class="skillbar-bar"></div><span class="skill-bar-percent"></span>
                    </div>
                    <!-- skill 3 end -->
                    <!-- skill 4 start -->
                    <div class="skillbar" data-percent="76">
                        <span class="skillbar-title">Codage</span>
                        <div class="skillbar-bar"></div><span class="skill-bar-percent"></span>
                    </div>
                    <!-- skill 4 end -->
                </div>
                <!-- skills bar end -->
            </div>
            <!-- col right end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
    <!-- about page images start -->
    <div class="about-section-images-carousel owl-carousel">
        <div class="about-section-img light-logo">
            <img alt="About" src="assets/img/about/1-woman.jpg">
        </div>
        <div class="about-section-img">
            <img alt="About" src="assets/img/about/2-woman.jpg">
        </div>
        <div class="about-section-img">
            <img alt="About" src="assets/img/about/3-woman.jpg">
        </div>
    </div>
    <!-- about page images end -->
</div>
<!-- about page end -->
