<!-- contact page start -->
<div class="section section-contact" id="contact">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                Contact
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Pour plus d'informations, n'hésitez pas à nous contacter.</span><br> 
        </div>
        <!-- row end -->
        <!-- row start -->
        <div 
            class="row contact-information">
            <div class="footer-contact-block">
                <!-- col left start -->
                <div class="col-md-4">
                    <!-- contact details start -->
                 
                    <!-- contact details end -->
                </div>
                <!-- col left end -->
                <!-- divider start -->
                <div class="divider-post-contact"></div>
                <!-- divider end -->
                <!-- col center start -->
                <div class="col-md-4">
                    <!-- contact details start -->
                    <span class="footer-contact-block-label">Téléphone:</span> 07 68 66 03 87
                    <!-- contact details end -->
                </div>
                <!-- col center end -->
                <!-- divider start -->
                <div class="divider-post-contact"></div>
                <!-- divider end -->
                <!-- col right start -->
                <div class="col-md-4">
                    <!-- contact details start -->
                    <span class="footer-contact-block-label">Email:</span> <a class="email" href="mailto:contact@aubaineapp.fr">contact@aubaineapp.fr</a>
                    <!-- contact details end -->
                </div>
                <!-- col right end -->
            </div>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row contact-form-container">
            <!-- contact form start -->
            <div id="contact-form">
                <form action="contact.php" id="form" method="post" name="send">
                    <div class="col-md-4">
                        <input class="requiredField name" id="nom" name="nom" placeholder="Nom" type="text">
                    </div>
                    <div class="col-md-4">
                        <input class="requiredField email" id="email" name="email" placeholder="Email" type="text">
                    </div>
                    <div class="col-md-4">
                        <input class="requiredField subject" id="sujet" name="sujet" placeholder="Sujet" type="text">
                    </div>
                    <div class="make-space">
                        <textarea class="requiredField message" id="message" name="message" placeholder="Message"></textarea>
                    </div>
                    <div>
                        <button class="submit-button" id="submit" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
            <!-- contact form end -->

            <!-- Home footer -->
            {% include home_screen/home-footer.html %}


        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</div>
<!-- contact page end -->
