<!-- facts page start -->
<div class="section section-facts light-logo" id="facts">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row section">
            <!-- facts counter start -->
            <div class="facts-counter-wrapper">
                <div class="col-xs-6 col-sm-3">
                    <div class="facts-counter-number">
                        76
                    </div>
                    <div class="facts-counter-description">
                        <i class="fa fa-briefcase"></i> <span class="facts-counter-title">Completed Projects</span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="facts-counter-number">
                        41
                    </div>
                    <div class="facts-counter-description">
                        <i class="fa fa-users"></i> <span class="facts-counter-title">Clients Served</span>
                    </div>
                </div>
                <!-- clearfix start -->
                <div class="clearfix visible-xs-block"></div>
                <!-- clearfix end -->
                <div class="col-xs-6 col-sm-3">
                    <div class="facts-counter-number">
                        12
                    </div>
                    <div class="facts-counter-description">
                        <i class="fa fa-globe"></i> <span class="facts-counter-title">Countries Reached</span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="facts-counter-number">
                        1976
                    </div>
                    <div class="facts-counter-description">
                        <i class="fa fa-camera-retro"></i> <span class="facts-counter-title">Photos Taken</span>
                    </div>
                </div>
            </div>
            <!-- facts counter end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</div>
<!-- facts page end -->