<!-- row start -->
<div class="row final-lift">
    <div class="section-content">
        <!-- logo footer start -->
        <div class="footer-logo scrollToTop"></div>
        <!-- logo footer end -->
        <!-- social icons footer start -->
        <div class="social-icons-footer-wrapper">
            <ul class="social-icons-footer">
                <li>
                    <a class="fa fa-twitter" href="https://twitter.com/AubaineToulouse" target="_blank"></a>
                </li>
                <li class="social-icon">
                    <a class="fa fa-facebook" href="https://www.facebook.com/aubainetoulousaine/" target="_blank"></a>
                </li>
                <li class="social-icon">
                    <a class="fa fa-instagram" href="https://www.instagram.com/aubaine_toulouse/" target="_blank"></a>
                </li>
            </ul>
        </div>
        <!-- social icons footer end -->
        <div class="lineOT-footer"></div>
        <!-- copyrights start -->
        <div class="copy">
            <a href="#">&copy; Aubaine Studio</a>
        </div>
        <!-- copyrights end -->
    </div>
</div>
<!-- row end -->