<!-- home page start -->
<div class="home-page light-logo">
    <!-- hero bg start -->
    <div class="hero-fullscreen">
        <!-- ken burns image slideshow start -->
        <div class="kenburns-slide-wrapper">
            <div class="kenburns-slide kenburns-slide-1"></div>
            <div class="kenburns-slide kenburns-slide-2"></div>
            <div class="kenburns-slide kenburns-slide-3"></div>
            <div class="kenburns-slide kenburns-slide-4"></div>
        </div>
        <!-- ken burns image slideshow end -->
    </div>
    <!-- hero bg end -->
    <!-- home page overlay start -->
    <div class="home-page-overlay"></div>
    <!-- home page overlay end -->
    <!-- center container start -->
    <div class="center-container">
        <!-- center block start -->
        <div class="center-block">
            <h1 class="home-page-title">
                Aubaine Studio
            </h1>
            <!--<h1>
                Nous vous aidons dans la transformation digitale de votre
            </h1>-->
            <div class="home-page-subtitle-carousel owl-carousel">
                <h2 class="home-page-title">
                    <a data-scroll-to="about" href="#">commerce</a>
                </h2>
                <h2 class="home-page-title">
                    <a data-scroll-to="about" href="#">boutique</a>
                </h2>
                <h2 class="home-page-title">
                    <a data-scroll-to="about" href="#">restaurant</a>
                </h2>
                <h2 class="home-page-title">
                    <a data-scroll-to="about" href="#">bar</a>
                </h2>
            </div>

            <!--<div>
                Votre site web, application mobile et communication, nous en occupons !
            </div>-->
        </div>
        <!-- center block end -->
    </div>
    <!-- center container end -->
</div>