<!-- home page start -->
<div class="home-page light-logo">
    <!-- hero bg start -->
    <div class="hero-fullscreen">
        <!-- ken burns image slideshow start -->
        <div class="kenburns-slide-wrapper">
            <div class="kenburns-slide kenburns-slide-1"></div>
            <div class="kenburns-slide kenburns-slide-2"></div>
            <div class="kenburns-slide kenburns-slide-3"></div>
            <div class="kenburns-slide kenburns-slide-4"></div>
        </div>
        <!-- ken burns image slideshow end -->
    </div>
    <!-- hero bg end -->
    <!-- home page overlay start -->
    <div class="home-page-overlay"></div>
    <!-- home page overlay end -->
    <!-- center container start -->
    <div class="center-container">
        <!-- center block start -->
        <div class="center-block">
            <h1 class="home-page-title">
                Aubaine Studio
            </h1>


            <div class="value-proposition-container">

                <div class="home-page-subtitle-carousel owl-carousel">
                    <h2 class="home-page-title">
                        <a>Site web et référencement</a>
                    </h2>
                    <h2 class="home-page-title">
                        <a>Application mobile</a>
                    </h2>
                    <h2 class="home-page-title">
                        <a>Community management</a>
                    </h2>
                    <h2 class="home-page-title">
                        <a>Photographie</a>
                    </h2>
                    <h2 class="home-page-title">
                        <a>Newsletters & e-mailing</a>
                    </h2>
                </div>

                <h1 class="value-propostion-p1">
                    Commerçants de proximité. Boostez votre visbilité !
                </h1>


            </div>

            <!-- Call to action buttons -->
            <div class="call-to-action-container row">

                <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

                <!-- Ask for estimate -->
                <div
                    class="col-sm-6 col-md-6 col-xs-6 aubaine-col-xs-12">
                    <div class="ask-for-estimate-container">
                        <a title="Demander un devis" data-scroll-to="contact" href="#">
                            <h3 class="">Demander un devis</h3>
                        </a>
                    </div>
                </div>

                <!-- Learn more -->
                <div
                    class="col-sm-6 col-md-6 col-xs-6 aubaine-col-xs-12">
                    <div class="learn-more-container">
                        <a class="" href="" title="Demander un devis" style="" data-scroll-to="services" href="#">
                            <h3 class="">En Savoir <i class="fa fa-plus"></i></h3>
                        </a>
                    </div>
                </div>

            </div>


        </div>
        <!-- center block end -->
    </div>
    <!-- center container end -->
</div>
