<!-- services page start -->
<div class="section section-services" id="services">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                Services
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br>                Curabitur sed dictum tellus. Praesent ullamcorper fermentum egestas.
            </div>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <!-- col left start -->
            <div class="col-md-6 services-hover">
                <div class="services-img">
                    <span class="fa fa-briefcase"></span>
                </div>
                <h3 class="services-title">
                    Brand Identity
                </h3>
                <div class="services-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum nibh et metus <a class="section-links"
                        href="#">facilisis sollicitudin</a>.
                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div class="col-md-6 services-hover services-move-down">
                <div class="services-img">
                    <span class="fa fa-users"></span>
                </div>
                <h3 class="services-title">
                    Brand Design
                </h3>
                <div class="services-description">
                    Vivamus scelerisque velit nec gravida ornare. Nam egestas purus eget sagittis tempor.
                </div>
            </div>
            <!-- col right end -->
            <!-- col left start -->
            <div class="col-md-6 services-hover">
                <div class="services-img">
                    <span class="fa fa-globe"></span>
                </div>
                <h3 class="services-title">
                    Web Design
                </h3>
                <div class="services-description">
                    Duis ac massa at neque scelerisque finibus vel sed erat. Sed vulputate nisl vitae elit laoreet laoreet.
                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div class="col-md-6 services-hover services-move-down">
                <div class="services-img">
                    <span class="fa fa-camera-retro"></span>
                </div>
                <h3 class="services-title">
                    Web Development
                </h3>
                <div class="services-description services-description-last">
                    Vivamus consectetur commodo enim, ut accumsan mauris interdum quis. Donec et euismod dui, eu <a class="section-links"
                        href="#">lobortis augue</a>.
                </div>
            </div>
            <!-- col right end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</div>
<!-- services page end -->