<!-- services page start -->
<div class="section section-services" id="services">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                Nos Services
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Nous vous accompagons dans votre transformation digitale à travers nos divers services.</span>
                <br> Nous utilisons les meileures technologies modernes pour assurer un maximum de visibilité pour botre
                business.
            </div>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <!-- col left start -->
            <div class="col-md-6 services-hover">
                <div class="services-img">
                    <span class="fa fa-briefcase"></span>
                </div>
                <h3 class="services-title">
                    Site web & référencement
                </h3>
                <div class="services-description">
                    <b>à faire</b> Vivamus consectetur commodo enim, ut accumsan mauris
                    interdum quis. Donec et euismod dui,  
                    
                    <!--<a class="section-links"
                        href="#">facilisis sollicitudin</a>.-->
                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div class="col-md-6 services-hover services-move-down">
                <div class="services-img">
                    <span class="fa fa-mobile"></span>
                </div>
                <h3 class="services-title">
                    Application mobile
                </h3>
                <div class="services-description">
                    <b>à faire</b> Vivamus consectetur commodo enim, ut accumsan mauris
                    interdum quis. Donec et euismod dui,  
                </div>
            </div>
            <!-- col right end -->
            <!-- col left start -->
            <div class="col-md-6 services-hover">
                <div class="services-img">
                    <span class="fa fa-globe"></span>
                </div>
                <h3 class="services-title">
                    Community Management
                </h3>
                <div class="services-description">
                    <b>à faire</b> Vivamus consectetur commodo enim, ut accumsan mauris
                    interdum quis. Donec et euismod dui,  
                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div class="col-md-6 services-hover services-move-down">
                <div class="services-img">
                    <span class="fa fa-camera-retro"></span>
                </div>
                <h3 class="services-title">
                    Photographie
                </h3>
                <div class="services-description services-description-last">
                    <b>à faire</b> Vivamus consectetur commodo enim, ut accumsan mauris
                    interdum quis. Donec et euismod dui,  
                    <!--<a class="section-links"
                        href="#">lobortis augue</a>.-->
                </div>
            </div>
            <!-- col right end -->
            <!-- col left start -->
            <div class="col-md-6 services-hover">
                <div class="services-img">
                    <span class="fa fa-globe"></span>
                </div>
                <h3 class="services-title">
                    Newsletters & e-emailing
                </h3>
                <div class="services-description">
                    <b>à faire</b> Vivamus consectetur commodo enim, ut accumsan mauris
                    interdum quis. Donec et euismod dui,  
                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div class="col-md-6 services-hover services-move-down">
                <div class="services-img">
                    <span class="fa fa-camera-retro"></span>
                </div>
                <h3 class="services-title">
                    Support de communication
                </h3>
                <div class="services-description services-description-last">
                    (brand identity, brand design à développer) <br/> <b>à faire</b> Vivamus consectetur commodo enim, ut accumsan mauris
                    interdum quis. Donec et euismod dui,  
                </div>
            </div>
            <!-- col right end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</div>
<!-- services page end -->
