<!-- services page start -->
<div class="section section-services" id="services">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                Nos Services
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">Aubaine Studio bâtit avec vous une communication sur mesure adaptée à vos besoins et aux attentes du marché.</span>
                <br> En complément de notre plateforme d’offres éphémères, nos prestations complètes et variées sauront vous
                donner plus de visibilité !
            </div>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <!-- col left start -->
            <div class="col-md-6 services-hover" data-toggle="modal" data-target="#siteWebModal" title="Plus d'informations">
                <div class="services-img">
                    <span class="fa fa-laptop fa-1x website-icon"></span>
                </div>
                <h3 class="services-title">
                    Site web & référencement
                </h3>
                <div class="services-description">
                    <b></b> Avoir un site internet devient indispensable et constitue une réelle vitrine pour votre entreprise.
                    Aubaine Studio vous aide à créer un site qui vous ressemble et à bien le référencer sur les moteurs de
                    recherche.

                    <!--<a class="section-links"
                        href="#">facilisis sollicitudin</a>.-->
                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div class="col-md-6 services-hover services-move-down" data-toggle="modal" data-target="#appMobileModal" title="Plus d'informations">
                <div class="services-img">
                    <span class="fa fa-mobile fa-2x"></span>
                </div>
                <h3 class="services-title">
                    Application mobile
                </h3>
                <div class="services-description">
                    <b>Vos clients utilisent de plus en plus leur mobile pour suivre une marque ou réaliser des achats.
                        Aubaine Studio développe avec vous votre propre application mobile afin de rester au maximum en contact avec votre cible !
                    
                </div>
            </div>
            <!-- col right end -->
            <!-- col left start -->
            <div class="col-md-6 services-hover" data-toggle="modal" data-target="#comManagementModal" title="Plus d'informations">
                <div class="services-img">
                    <span class="fa fa-globe globe-icon"></span>
                </div>
                <h3 class="services-title">
                    Community Management
                </h3>
                <div class="services-description">
                    <b></b> Les réseaux sociaux permettent de communiquer et d'échanger directement avec
                    votre cible. Aubaine Studio vous aide à créer et fidéliser une communauté qualifiée afin d’obtenir plus
                    de visibilité et d’entretenir votre e-réputation !
                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div class="col-md-6 services-hover services-move-down" data-toggle="modal" data-target="#photographieModal" title="Plus d'informations">
                <div class="services-img">
                    <span class="fa fa-camera-retro camera-icon"></span>
                </div>
                <h3 class="services-title">
                    Photographie
                </h3>
                <div class="services-description">
                    <b></b> Avec notre photographe certifiée, réalisez des clichés uniques et de qualité ! Les photos de
                    votre établissement, vos produits ou mises en scène permettront de vous créer une réelle image de marque !
                </div>
            </div>
            <!-- col right end -->
            <!-- col left start -->
            <div class="col-md-6 services-hover" data-toggle="modal" data-target="#newsletterModal" title="Plus d'informations">
                <div class="services-img">
                    <span class="fa fa-envelope-o envelope-icon"></span>
                </div>
                <h3 class="services-title">
                    Newsletters & e-emailing
                </h3>
                <div class="services-description">
                    <b></b> Aubaine Studio vous permet de créer des campagnes d’e-mailings et des newsletters percutantes.
                    La création de bases de données qualifiées vous aidera à mieux connaître votre cible pour répondre précisément
                    aux besoins de votre clientèle !

                </div>
            </div>
            <!-- col left end -->
            <!-- col right start -->
            <div class="col-md-6 services-hover services-move-down" data-toggle="modal" data-target="#communuicationModal" title="Plus d'informations">
                <div class="services-img">
                    <span class="fa fa-bullhorn bullhorn-icon"></span>
                </div>
                <h3 class="services-title">
                    Support de communication
                </h3>
                <div class="services-description services-description-last">
                    <b></b> La présence via la communication traditionnelle reste un moyen efficace d’attirer des clients,
                    prospects, partenaires … À l’aide de graphistes, Aubaine Studio vous aide à créer des supports innovants
                    qui vous seront propres !

                </div>
            </div>
            <!-- col right end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->

    <!-- about page images start -->
    <div class="about-section-images-carousel owl-carousel">
        <div class="about-section-img light-logo">
            <img alt="About" src="assets/img/about/1-woman.jpg">
        </div>
        <div class="about-section-img">
            <img alt="About" src="assets/img/about/2-woman.png">
        </div>
        <div class="about-section-img">
            <img alt="About" src="assets/img/about/3-woman.png">
        </div>
    </div>
    <!-- about page images end -->


    <!-- List of modals Modal -->
    {%for serviceModal in site.data.services.modals %}
    <div class="modal fade" id="{{serviceModal.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{serviceModal.title}}</h4>
                </div>
                <div class="modal-body">
                    {{serviceModal.description}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-outline" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
<!-- services page end -->
