<!-- row start -->
<div class="row alt team-bloc-container">
    <!-- col right start -->
    <div class="col-md-12">

        <!-- Title -->
        <h2 class="team-title">
            Notre Équipe
            </h3>

            {%for pole in site.data.team.poles %}
            <!-- pole container -->
            <div class="pole-container">

                <!-- Pole title -->
                <div class="pole-title-container">
                    <span style="color:grey;" > {{ pole.title }} </span>
                </div>

                <!-- The list of team members -->
                <div class="row team-members-row">


                    {% for member in pole.members %}
                    <a href="{{member.linkedin-link}}" target="_blank">
                        <div class="col-md-4 team-member-container">
                            <!-- Image -->
                            <div class="image-container">
                                <img src="{{member.image}}" />
                            </div>

                            <!-- Test container -->
                            <div class="member-text-container">
                                <!-- name -->
                                <div class="memeber-name">
                                    <span>{{member.name}}</span>
                                </div>
                                <!-- position -->
                                <div class="member-position">
                                    <span>{{member.position}}</span>
                                </div>

                                <!-- description -->
                                <div class="member-description">
                                    <span>{{member.description}}</span>
                                </div>

                            </div>

                            <!-- icone linked in -->
                            <div class="linked-in-icon">
                                <i class="fa fa-linkedin"></i>
                            </div>

                        </div>
                    </a>
                    {% endfor %}


                </div>
            </div>
            {% endfor %}

    </div>
    <!-- col right end -->
</div>
<!-- row end -->
