<!-- works page start -->
<div class="section section-works" id="works">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
        <div class="row alt">
            <h2 class="section-title">
                Réalisations
            </h2>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row">
            <div class="section-all-subtitle">
                <span class="section-all-subtitle-first">à faire Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                <br>à faire  Curabitur sed dictum tellus. Praesent ullamcorper fermentum egestas.
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
    <!-- photoSwipe start -->
    <div class="legendary-gallery">
        <!-- gallery item 1 start -->
        <figure class="col-xl-6 col-lg-6 col-md-6 col-sm-6 image-works light-logo">
            <a class="effect-bubba-photos" data-size="1920x1280" href="assets/img/photoswipe/photos/large/1.jpg"><img alt="Image description" class="img-responsive" src="assets/img/photoswipe/photos/small/1.jpg"></a>
            <figcaption>
                <span class="img-caption">Image caption 1</span>
                <div class="hover-effect"></div>
                <div class="icon-works">
                    <a class="iw-slide-right fa fa-plus" href="#"></a>
                    <a class="iw-slide-left fa fa-share-alt" href="#"></a>
                </div>
            </figcaption>
        </figure>
        <!-- gallery item 1 end -->
        <!-- gallery item 2 start -->
        <figure class="col-xl-6 col-lg-6 col-md-6 col-sm-6 image-works light-logo">
            <a class="effect-bubba-photos" data-size="1920x1280" href="assets/img/photoswipe/photos/large/2.jpg"><img alt="Image description" class="img-responsive" src="assets/img/photoswipe/photos/small/2.jpg"></a>
            <figcaption>
                <span class="img-caption">Image caption 2</span>
                <div class="hover-effect"></div>
                <div class="icon-works">
                    <a class="iw-slide-right fa fa-plus" href="#"></a>
                    <a class="iw-slide-left fa fa-share-alt" href="#"></a>
                </div>
            </figcaption>
        </figure>
        <!-- gallery item 2 end -->
        <!-- gallery item 3 start -->
        <figure class="col-xl-6 col-lg-6 col-md-6 col-sm-6 image-works light-logo">
            <a class="effect-bubba-photos" data-size="1920x1280" href="assets/img/photoswipe/photos/large/3.jpg"><img alt="Image description" class="img-responsive" src="assets/img/photoswipe/photos/small/3.jpg"></a>
            <figcaption>
                <span class="img-caption">Image caption 3</span>
                <div class="hover-effect"></div>
                <div class="icon-works">
                    <a class="iw-slide-right fa fa-plus" href="#"></a>
                    <a class="iw-slide-left fa fa-share-alt" href="#"></a>
                </div>
            </figcaption>
        </figure>
        <!-- gallery item 3 end -->
        <!-- gallery item 4 start -->
        <figure class="col-xl-6 col-lg-6 col-md-6 col-sm-6 image-works light-logo">
            <a class="effect-bubba-photos" data-size="1920x1280" href="assets/img/photoswipe/photos/large/4.jpg"><img alt="Image description" class="img-responsive" src="assets/img/photoswipe/photos/small/4.jpg"></a>
            <figcaption>
                <span class="img-caption">Image caption 4</span>
                <div class="hover-effect"></div>
                <div class="icon-works">
                    <a class="iw-slide-right fa fa-plus" href="#"></a>
                    <a class="iw-slide-left fa fa-share-alt" href="#"></a>
                </div>
            </figcaption>
        </figure>
        <!-- gallery item 4 end -->
    </div>
    <!-- photoSwipe end -->
</div>
<!-- works page end -->