.home-page {
    .value-proposition-container {
        margin-top: 45px;
        @media screen and (max-width: 350px) {
            margin-top: 60px;
            padding: 0 5px;
        }
        .value-propostion-p1 {
            margin-top: 15px;
            color: #fff;
            text-decoration: none;
            outline: none;
            position: relative;
            z-index: 1;
            font-size: 26px;
            line-height: 40px;
            font-weight: 700;
        }
        .home-page-subtitle-carousel {
            .home-page-title {
                font-weight: 600;
                font-size: 24px;
            }
        }
    }
    .call-to-action-container {
        // display: flex;
        z-index: 1;
        position: relative;
        margin-top: 45px;
        .ask-for-estimate-container,
        .learn-more-container {
            display: block;
            padding: 15px;
            width: 250px;
            border-radius: 6px;
            h3 {
                margin-bottom: inherit;
                font-size: 20px;
                font-weight: 700;
                color: #fff;
                i {
                    font-size: 15px;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        .ask-for-estimate-container {
            margin-left: auto;
            margin-right: 20px;
            background: #ff373d;
            &:hover {
                background: #bd081c;
            }
        }
        .learn-more-container {
            margin-right: auto;
            margin-left: 20px;
            border: 1px solid white;
            &:hover {
                background: rgba(255, 255, 255, .2);
            }
        }
        @media screen and (max-width: 640px) {
            .ask-for-estimate-container {
                margin-right: auto;
            }
            .learn-more-container {
                margin-top: 25px;
                margin-left: auto;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .aubaine-col-xs-12 {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
}