.section-services {
    .services-img {
        .website-icon {
            font-size: 50px;
        }
        .globe-icon {
            font-size: 45px;
        }

        .camera-icon {
            font-size: 40px;
        }

        .envelope-icon {
            font-size: 45px;
        }

        .bullhorn-icon {
            font-size: 45px;
        }
    }
}